body {
    margin: 0 auto;
    overflow: hidden;
    background: whitesmoke;
}

#root {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

#footer {
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 80vh;
}

#alert {
    position: absolute;
    top: 5px;
    left: 5px;
    min-width: 200px;
    height: 80px;
    line-height: 80px;
    background: rgba(255, 47, 116, 0.596);
    color: whitesmoke;
    visibility: hidden;
    text-align: center;
    z-index: 5;
    text-transform: capitalize;
}

/*game info below*/

#gameInfo {
    /* background: pink; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

#gameInfo .sideInfo {
    height: 100%;
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    border: 3px solid rgba(175, 175, 175, 0.4);
}

#gameInfo .sideInfo .innerInfo {
    background: rgba(255, 255, 255, 0.1);
    border-right: 2px solid rgba(175, 175, 175, 0.4);
    border-left: 2px solid rgba(175, 175, 175, 0.4);
    height: 100%;
    width: 30%;
    margin-left: 1vw;
    margin-right: 1vw;
}

#gameInfo .nickInfo {
    text-transform: uppercase;
    text-align: center;
    line-height: 10vh;
    color: rgba(175, 175, 175, 1);
}

#redSideInfo {
    background: rgba( 50, 0, 0, 0.4);
}

#blueSideInfo {
    background: rgba( 0, 0, 50, 0.4);
}

/*logging screen below*/

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#overlayContainer {
    position: absolute;
    left: 50%;
    top: -60vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    border-radius: 1vw;
    animation: animateIN 0.5s 0.5s, animateEASEout 0.5s;
    display: none;
}

#overlayContainer .ovPart {
    border-radius: 1vw;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    font-size: 1.2vw;
    background: rgba(100, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    height: 15%;
    width: 40%;
    margin: 5px;
    transition: 0.5s width, 0.5s background, 0.5s border;
    cursor: pointer;
}

#overlayContainer .ovPart:focus {
    background: transparent;
}

#overlayContainer .ovPart:hover {
    border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba( 100, 0, 0, 0.4);
    width: 45%;
}

#overlayContainer #nick1 {
    background: rgba(0, 0, 0, 0.2);
    cursor: text;
}

#overlayContainer #nick1:focus {
    border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.2);
    width: 45%;
}

@keyframes animateIN {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 50vh;
        opacity: 1
    }
}

@keyframes animateEASEout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

/*loading screen below*/

#awaiting {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ff000023;
    z-index: 2;
    cursor: wait;
}

#awaitingContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#awaitingText {
    position: absolute;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    min-width: 250px;
    font-size: 2.5vw;
    text-transform: capitalize;
    text-align: center;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.hollowLoader {
    width: 4em;
    height: 4em;
    -webkit-animation: loaderAnim 1.25s infinite ease-in-out;
    animation: loaderAnim 1.25s infinite ease-in-out;
    outline: 1px solid transparent;
}

.hollowLoader .largeBox {
    height: 4em;
    width: 4em;
    background-color: #ecececbe;
    outline: 1px solid transparent;
    position: fixed;
}

.hollowLoader .smallBox {
    height: 4em;
    width: 4em;
    background-color: #0003c062;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    -webkit-animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@-webkit-keyframes smallBoxAnim {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes smallBoxAnim {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@-webkit-keyframes loaderAnim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loaderAnim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}