body {
    margin: 0 auto;
    overflow: hidden;
    background: whitesmoke;
}

#root {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

#footer {
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 80vh;
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#overlayContainer {
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    border-radius: 20vw;
}

#overlayContainer .ovPart {
    border-radius: 2vw;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    font-size: 1vw;
    background: rgba(0, 100, 100, 0.2);
    text-align: center;
    box-sizing: border-box;
    height: 15%;
    width: 40%;
    margin: 5px;
    transition: 0.5s width, 0.5s background, 0.5s border;
}

#overlayContainer .ovPart:hover {
    border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 100, 100, 0.4);
    width: 45%;
}

#overlayContainer #nick1 {
    background: rgba(0, 0, 0, 0.2);
}

#overlayContainer #nick1:focus {
    border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.2);
    width: 45%;
}