* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0 auto;
    overflow: hidden;
    background: whitesmoke;
}

#root {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

#footer {
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 80vh;
}

#alert {
    position: absolute;
    top: 5px;
    left: 5px;
    min-width: 200px;
    height: 80px;
    line-height: 80px;
    background: rgba(255, 47, 116, 0.596);
    color: whitesmoke;
    visibility: hidden;
    text-align: center;
    z-index: 5;
    text-transform: capitalize;
}

/*logging screen below*/

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#overlayContainer {
    position: absolute;
    border: none;
    left: 50%;
    top: -60vw;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    border-radius: 2vw;
    animation: animateIN 0.5s 0.5s, animateEASEout 0.5s;
    display: none;
}

#overlayContainer .ovPart {
    border-radius: 3vw;
    /*border: 2px solid rgba(0, 0, 0, 0.34);*/
    color: whitesmoke;
    font-size: 2vh;
    border: none;
    /*background: rgba(100, 0, 0, 0.34);*/
    background: linear-gradient(to right, #c3143170, #240b368a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    box-sizing: border-box;
    height: 7%;
    width: 70%;
    margin: 1vh;
    transition: 0.5s width, 0.5s background, 0.5s border;
    cursor: pointer;
}

#overlayContainer #maxChar {
    color: crimson;
    visibility: hidden;
}

#overlayContainer>h1 {
    font-size: 5vh;
    margin: 0.5vh;
    padding: 0;
}

#overlayContainer>h2 {
    margin-bottom: 3vh;
}

#overlayContainer .ovPart:focus {
    outline: 0;
}

#overlayContainer .ovPart:hover {
    /*border: 2px solid rgba(0, 0, 0, 0.7);
    background: rgba(100, 0, 0, 0.4);*/
    background: linear-gradient(to right, #c31432, #240b36);
    width: 70%;
}

#overlayContainer #nick1,
#overlayContainer #pass1 {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1vw;
    font-size: 2.5vh;
    width: 70%;
    height: 10%;
    cursor: text;
}

#pass1 {
    margin-bottom: 6vh !important;
    background: rgba(0, 0, 0, 0.05);
}

#pass1::placeholder {
    opacity: 0.05;
}

#pass1:focus::placeholder {
    opacity: 0.3;
}

#overlayContainer #nick1:focus,
#overlayContainer #pass1:focus {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    width: 70%;
}

@keyframes animateIN {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 50vh;
        opacity: 1
    }
}

@keyframes animateEASEout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

/*loading screen below*/

#awaiting {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ff000023;
    z-index: 2;
    cursor: wait;
}

#awaitingContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#awaitingText {
    position: absolute;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    min-width: 250px;
    font-size: 2.5vw;
    text-transform: capitalize;
    text-align: center;
    color: whitesmoke;
}

.hollowLoader {
    width: 4em;
    height: 4em;
    -webkit-animation: loaderAnim 1.25s infinite ease-in-out;
    animation: loaderAnim 1.25s infinite ease-in-out;
    outline: 1px solid transparent;
}

.hollowLoader .largeBox {
    height: 4em;
    width: 4em;
    background-color: #ecececbe;
    outline: 1px solid transparent;
    position: fixed;
}

.hollowLoader .smallBox {
    height: 4em;
    width: 4em;
    background-color: #0003c062;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    -webkit-animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@-webkit-keyframes smallBoxAnim {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }

    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes smallBoxAnim {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }

    100% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@-webkit-keyframes loaderAnim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loaderAnim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

/*time stamp in header below*/

#header {
    /* background: pink; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

#header #gameTime {
    position: absolute;
    top: -6vw;
    width: 10vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    line-height: 5vw;
    font-size: 3vw;
    text-align: center;
    border-radius: 0 0 2vw 2vw;
    transition: top 1s;
}

/*game info below*/

.sideInfo {
    position: absolute;
    top: 0px;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#leftSide {
    left: -25vw;
    transition: left 1s;
}

#rightSide {
    right: -25vw;
    transition: right 1s;
}

#leftInner {
    border-radius: 0 2vw 2vw 0;
}

#rightInner {
    border-radius: 2vw 0 0 2vw;
}

.innerInfo {
    background: rgba(0, 0, 0, 0.7);
    height: 30vw;
    width: 16vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.innerInfo .itemName {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    color: whitesmoke;
    text-transform: capitalize;
}

.innerInfo .itemValue {
    width: 100%;
    text-align: center;
    font-size: 2.2vw;
    color: whitesmoke;
    margin-bottom: 2vw !important;
}

.innerInfo .nickInfo {
    margin-top: 2vw
}

.innerInfo .winsInfo {
    color: rgb(130, 255, 200);
}

.innerInfo .losesInfo {
    color: rgb(255, 140, 170);
}